xen:
  host: "https://xen-master.example.com"
  username: "root"
  password: "SUPERSECRET"

chef:
  host: "chef.example.com"
  port: "4000"
  scheme: "http"
  client_name: "xen-admin"
  key_file: "config/xen-admin.pem"

session_lifetime: "600"